.boton1 {
	text-align: center;
}

button {
     background-color: #2ECCFA;
     color: #FFFFFF;
}

.contenedor {
	   border:  1px solid #000;
	   margin: 70px;
}

.columna {
      display: inline-block;
      width: 48%;
      padding-left: 10px;  
}

